/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 2, ../scss/modules/_base.scss */
.left {
  float: left;
}

/* line 3, ../scss/modules/_base.scss */
.right {
  float: right;
}

/* line 4, ../scss/modules/_base.scss */
.clear {
  clear: both;
}

/* line 5, ../scss/modules/_base.scss */
.red {
  color: #FF0000;
}

/* line 9, ../scss/modules/_base.scss */
a {
  text-decoration: underline;
  color: #ccc;
}

/* line 13, ../scss/modules/_base.scss */
a:hover {
  color: #aaa;
}

/* line 17, ../scss/modules/_base.scss */
img {
  border: 0;
}

/* line 21, ../scss/modules/_base.scss */
html {
  /*  -webkit-text-stroke-width: .2px;
   -webkit-text-stroke-color: #34343b; */
}

/* line 28, ../scss/modules/_base.scss */
.addthis_toolbox {
  width: 350px;
  float: right;
  margin: 20px 10px;
}

/* line 1, ../scss/modules/_layout.scss */
body {
  background: url("/img/back1.jpg") center 110px no-repeat black;
  background-size: 100%;
  color: #fff;
  font: 13px normal Arial, Helvetica, sans-serif;
}

@media (min-width: 961px) {
  /* line 8, ../scss/modules/_layout.scss */
  body {
    background: url("/img/back1.jpg") center top no-repeat black;
  }
}
/*
*  main container wrapper
*/
/* line 16, ../scss/modules/_layout.scss */
.wrapper {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 961px) {
  /* line 21, ../scss/modules/_layout.scss */
  .wrapper {
    width: 960px;
  }
}
/*
* Logo and title
*/
/* line 29, ../scss/modules/_layout.scss */
header {
  position: relative;
  height: 110px;
}
/* line 33, ../scss/modules/_layout.scss */
header #main-logo {
  float: left;
  margin: 5px 0 0 10px;
  width: 100px;
  height: 100px;
}
/* line 39, ../scss/modules/_layout.scss */
header #main-title {
  float: left;
  margin: 20px 0 0 10px;
  width: 270px;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 32px;
}

@media (min-width: 961px) {
  /* line 52, ../scss/modules/_layout.scss */
  header {
    position: absolute;
    z-index: 100;
  }
  /* line 55, ../scss/modules/_layout.scss */
  header #main-logo {
    margin: 20px 5px 20px 10px;
    width: 110px;
    height: 110px;
  }
  /* line 60, ../scss/modules/_layout.scss */
  header #main-title {
    margin: 20px 0;
    width: 173px;
    font-size: 32px;
    line-height: 28px;
  }
}
@media (min-width: 1041px) {
  /* line 70, ../scss/modules/_layout.scss */
  header #main-logo {
    margin: 20px 5px 20px -30px;
    width: 130px;
    height: 130px;
  }
  /* line 75, ../scss/modules/_layout.scss */
  header #main-title {
    width: 160px;
    font-size: 36px;
    line-height: 33px;
  }
}
@media (min-width: 1121px) {
  /* line 84, ../scss/modules/_layout.scss */
  header #main-logo {
    margin: 20px 10px 20px -70px;
    width: 146px;
    height: 146px;
  }
  /* line 89, ../scss/modules/_layout.scss */
  header #main-title {
    width: 160px;
    font-size: 41px;
    line-height: 37px;
  }
}
@media (min-width: 1201px) {
  /* line 98, ../scss/modules/_layout.scss */
  header #main-logo {
    margin: 20px 10px 20px -110px;
    width: 156px;
    height: 156px;
  }
  /* line 103, ../scss/modules/_layout.scss */
  header #main-title {
    width: 160px;
    font-size: 46px;
    line-height: 39px;
  }
}
@media (min-width: 1280px) {
  /* line 112, ../scss/modules/_layout.scss */
  header #main-logo {
    margin: 20px 10px 20px -160px;
  }
}
/* line 1, ../scss/modules/_menu.scss */
aside {
  position: relative;
  width: 100%;
  clear: both;
}
/* line 5, ../scss/modules/_menu.scss */
aside.hidden {
  display: none;
}
/* line 9, ../scss/modules/_menu.scss */
aside ul {
  display: block;
  padding: 0;
}
/* line 12, ../scss/modules/_menu.scss */
aside ul li {
  list-style: none;
}
/* line 14, ../scss/modules/_menu.scss */
aside ul li a {
  display: block;
  margin: 0;
  padding: 12px 80px 12px 20px;
  border-top: 1px solid #aaa;
  color: #f0f0f0;
  background: #111;
  font-size: 19px;
  font-weight: 800;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
}
/* line 29, ../scss/modules/_menu.scss */
aside ul li a:hover, aside ul li a.active {
  color: #333;
  background: #f0f0f0;
}

@media (min-width: 481px) {
  /* line 39, ../scss/modules/_menu.scss */
  aside.hidden {
    display: block;
  }
  /* line 42, ../scss/modules/_menu.scss */
  aside ul {
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    border-top: 1px solid #666;
    padding: 10px 0;
  }
  /* line 47, ../scss/modules/_menu.scss */
  aside ul li {
    display: inline-block;
  }
  /* line 49, ../scss/modules/_menu.scss */
  aside ul li a {
    border-top: none;
    display: inline-block;
    padding: 4px 18px;
    background: none;
  }
}
@media (min-width: 769px) and (max-width: 960px) {
  /* line 60, ../scss/modules/_menu.scss */
  aside {
    position: absolute;
    top: 0;
    right: 0;
    clear: none;
    float: right;
    width: 55%;
    margin: 10px 0;
  }
  /* line 68, ../scss/modules/_menu.scss */
  aside ul {
    border: none;
  }
}
@media (min-width: 961px) {
  /* line 74, ../scss/modules/_menu.scss */
  aside {
    clear: both;
    float: left;
    width: 230px;
    margin: 200px 0 0 10px;
  }
  /* line 79, ../scss/modules/_menu.scss */
  aside ul {
    background: none;
    text-align: left;
    border: none;
  }
  /* line 83, ../scss/modules/_menu.scss */
  aside ul li {
    margin: 4px 0 0;
  }
  /* line 85, ../scss/modules/_menu.scss */
  aside ul li a {
    background: rgba(0, 0, 0, 0.9);
    padding: 12px 55px 10px 20px;
    font-size: 20px;
  }
}
@media (min-width: 1041px) {
  /* line 95, ../scss/modules/_menu.scss */
  aside {
    margin-top: 235px;
  }
}
@media (min-width: 1121px) {
  /* line 100, ../scss/modules/_menu.scss */
  aside {
    margin-top: 270px;
  }
}
@media (min-width: 1201px) {
  /* line 105, ../scss/modules/_menu.scss */
  aside {
    margin-top: 305px;
  }
}
@media (min-width: 1280px) {
  /* line 110, ../scss/modules/_menu.scss */
  aside {
    margin-top: 340px;
  }
}
/* line 2, ../scss/modules/_content.scss */
#main-content {
  position: relative;
  width: 100%;
  padding: 1px 20px 20px;
  min-height: 320px;
  background: rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
/* line 10, ../scss/modules/_content.scss */
#main-content h1 {
  font-size: 26px;
  font-weight: bold;
  margin: 20px 0 15px;
}
/* line 15, ../scss/modules/_content.scss */
#main-content img.framed {
  border: 6px solid #fff;
  margin: 0px 10px 10px;
}
/* line 18, ../scss/modules/_content.scss */
#main-content img.framed.nomargin {
  margin: 0px 0px 10px;
}

@media (max-width: 768px) {
  /* line 25, ../scss/modules/_content.scss */
  #main-content .home-block {
    clear: both;
  }
}
@media (max-width: 960px) {
  /* line 31, ../scss/modules/_content.scss */
  #main-content {
    border-top: 1px solid #333;
  }
}
@media (min-width: 769px) {
  /* line 38, ../scss/modules/_content.scss */
  #main-content .home-block.bio {
    float: left;
    width: 50%;
  }
  /* line 42, ../scss/modules/_content.scss */
  #main-content .home-block.dates {
    float: right;
    width: 46%;
  }
  /* line 46, ../scss/modules/_content.scss */
  #main-content .home-block.photos {
    clear: both;
  }
}
@media (min-width: 961px) {
  /* line 53, ../scss/modules/_content.scss */
  #main-content {
    width: 700px;
    float: right;
    margin: 20px 10px 0;
  }
}
/* line 60, ../scss/modules/_content.scss */
.event {
  margin: 10px 0 25px 0;
}

/* line 63, ../scss/modules/_content.scss */
.event .date {
  float: left;
  width: 44px;
  padding: 0 20px 10px 0;
}

/* line 68, ../scss/modules/_content.scss */
.event .date .day {
  font-size: 38px;
  font-weight: bold;
  text-align: center;
}

/* line 73, ../scss/modules/_content.scss */
.event .date .month {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  line-height: 14px;
}

/* line 80, ../scss/modules/_content.scss */
h3, .event .title {
  font-size: 18px;
  font-weight: bold;
  margin: 5px 0 5px 0;
}

/* line 86, ../scss/modules/_content.scss */
h3 {
  margin-bottom: 10px;
}

/* line 90, ../scss/modules/_content.scss */
p, .event .text {
  color: #ccc;
  font-size: 14px;
  line-height: 18px;
}

/* line 95, ../scss/modules/_content.scss */
p {
  margin-bottom: 10px;
}

/* line 2, ../scss/modules/_ui-elements.scss */
.btn-navbar {
  position: absolute;
  z-index: 100px;
  top: 30px;
  right: 30px;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 8px;
  cursor: pointer;
  background: #0e0e0e linear-gradient(#151515, #040404) repeat-x scroll 0% 0%/auto padding-box border-box;
  box-shadow: rgba(255, 255, 255, 0.09804) 0px 1px 0px 0px inset, rgba(255, 255, 255, 0.07451) 0px 1px 0px 0px;
  outline: white none 0px;
}
/* line 19, ../scss/modules/_ui-elements.scss */
.btn-navbar:hover {
  background: #222;
}
/* line 22, ../scss/modules/_ui-elements.scss */
.btn-navbar span {
  display: block;
  margin: 8px 6px 8px;
  height: 6px;
  background: #999;
  border-radius: 3px;
}

@media (min-width: 481px) {
  /* line 31, ../scss/modules/_ui-elements.scss */
  .btn-navbar {
    display: none;
  }
}
/* line 36, ../scss/modules/_ui-elements.scss */
.closeFrame {
  position: absolute;
  display: block;
  right: 15px;
  top: 15px;
  width: 19px;
  height: 19px;
  background: url("/img/close.png") 0 0px no-repeat;
  cursor: pointer;
  text-decoration: none;
}
/* line 46, ../scss/modules/_ui-elements.scss */
.closeFrame:hover {
  background: url("/img/close.png") 0 -19px no-repeat;
}
/* line 49, ../scss/modules/_ui-elements.scss */
.closeFrame:active {
  background: url("/img/close.png") 0 0px no-repeat;
}

/* line 54, ../scss/modules/_ui-elements.scss */
.dog_button {
  clear: both;
  display: block;
  margin: 10px 0 15px;
  padding: 5px 10px;
  background: #fff;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
}
/* line 66, ../scss/modules/_ui-elements.scss */
.dog_button img {
  margin-bottom: -3px;
}
/* line 69, ../scss/modules/_ui-elements.scss */
.dog_button:hover {
  background: #000;
  color: #fff;
}
/* line 73, ../scss/modules/_ui-elements.scss */
.dog_button:active {
  background: #fff;
  color: #000;
}
/* line 77, ../scss/modules/_ui-elements.scss */
.dog_button.biggermargin {
  margin-top: 20px;
}

/* line 82, ../scss/modules/_ui-elements.scss */
.one-sheet {
  display: block;
  float: left;
  text-align: center;
  margin: 0 30px 0 0;
  font-size: 11px;
  text-decoration: none;
}
/* line 89, ../scss/modules/_ui-elements.scss */
.one-sheet img {
  margin-bottom: 5px;
}

/* line 94, ../scss/modules/_ui-elements.scss */
#flickrGallery {
  margin: 0;
  padding: 0;
  width: 100%;
}
/* line 98, ../scss/modules/_ui-elements.scss */
#flickrGallery li {
  list-style: none;
  display: block;
  float: left;
  margin: 0 6px 10px;
  background: #fff;
  padding: 5px;
  text-align: center;
}
/* line 106, ../scss/modules/_ui-elements.scss */
#flickrGallery li a {
  display: block;
  position: relative;
  overflow: hidden;
  width: 110px;
  height: 75px;
  color: #666;
  text-decoration: none;
  font-size: 11px;
}
/* line 116, ../scss/modules/_ui-elements.scss */
#flickrGallery li img {
  height: 75px;
}

/* line 2, ../scss/modules/_contact.scss */
#contactForm {
  font-size: 14px;
  color: #ccc;
}
/* line 6, ../scss/modules/_contact.scss */
#contactForm input[type="text"], #contactForm input[type="email"] {
  padding: 5px;
  margin: 5px 0 10px;
  width: 200px;
  font-size: 14px;
  border: 0;
  border-radius: 2px;
  background: #f0f0f0;
}
/* line 15, ../scss/modules/_contact.scss */
#contactForm textarea {
  padding: 5px;
  margin: 3px 0 10px;
  width: 350px;
  height: 90px;
  font-size: 14px;
  border: 0;
  border-radius: 2px;
  background: #f0f0f0;
}
/* line 25, ../scss/modules/_contact.scss */
#contactForm input[type="submit"] {
  margin: 10px 0 0;
  padding: 5px 10px;
  background: #fff;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  border: 0;
}
/* line 37, ../scss/modules/_contact.scss */
#contactForm input[type="submit"]:hover {
  background: #000;
  color: #fff;
}

/* line 42, ../scss/modules/_contact.scss */
#cf_sending {
  display: none;
  font-weight: bold;
  margin: 10px 0 0;
}

/* line 2, ../scss/modules/_footer.scss */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #000;
  padding: 0;
  margin: 0;
  color: #aaa;
  font-size: 13px;
  text-transform: uppercase;
}
/* line 15, ../scss/modules/_footer.scss */
footer .social {
  padding: 10px 10px 0;
  text-align: center;
}
/* line 18, ../scss/modules/_footer.scss */
footer .social img {
  margin: 0px 2px;
}
/* line 22, ../scss/modules/_footer.scss */
footer .copy {
  padding: 8px;
  text-align: center;
}
/* line 25, ../scss/modules/_footer.scss */
footer .copy span {
  display: block;
}
/* line 28, ../scss/modules/_footer.scss */
footer .copy a {
  color: #aaa;
  font-weight: bold;
  text-decoration: none;
}
/* line 32, ../scss/modules/_footer.scss */
footer .copy a:hover {
  color: #aaa;
  text-decoration: underline;
}

@media (min-width: 481px) {
  /* line 41, ../scss/modules/_footer.scss */
  footer .social {
    float: left;
    text-align: left;
  }
  /* line 45, ../scss/modules/_footer.scss */
  footer .copy {
    float: right;
    text-align: right;
  }
}
@media (min-width: 769px) {
  /* line 53, ../scss/modules/_footer.scss */
  footer .social {
    padding: 7px;
  }
  /* line 56, ../scss/modules/_footer.scss */
  footer .copy {
    padding: 12px 10px;
  }
  /* line 58, ../scss/modules/_footer.scss */
  footer .copy span {
    display: inline-block;
  }
}
@media (min-width: 961px) {
  /* line 65, ../scss/modules/_footer.scss */
  footer .wrapper {
    width: 960px;
    margin: 0 auto;
  }
}
/* line 71, ../scss/modules/_footer.scss */
ul.backchoice {
  margin: 0 0 0 10px;
  padding: 6px 0 0;
  width: 200px;
  display: none;
}

/* line 77, ../scss/modules/_footer.scss */
ul.backchoice li {
  list-style: none;
  float: left;
  width: 20px;
  background: #ddd;
  color: #000;
  margin: 0 3px 0 0;
  padding: 4px 1px 3px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

/* line 90, ../scss/modules/_footer.scss */
ul.backchoice li.active, ul.backchoice li:hover {
  background: #000;
  color: #fff;
}
