<div class="content">
  <a href="/" class="right closeFrame">&nbsp;</a>

  <h1>Biography</h1>
  <img src="img/bio_1.jpg" class="framed right">
  <p>Black Dog Blues Band was born in Sao Paulo (Brazil) in 1989. Its founder, Daniel Henriques, met Magic Slim, Albert Collins, Buddy Guy, Etta James, Koko Taylor, Junior Wells,
      among many others who participated in international festivals of Blues, in São Paulo and the Nescafé &amp; Blues.</p>
  <p>Originally from Madeira, Daniel Henriques returned to his homeland in January 2006 to resume the project, with roots on the Mississippi blues, Chicago and California (Jumpin 'Blues).</p>
  <p>The band consists of Daniel Henriques - vocals and harmonica; Eduardo Fernandes - drums; Rodolfo Cro - guitar, and Paulo Aveiro - bass.</p>
  <p>Having a resume with a wide range of performances in many different houses in Madeira, with regular concerts in bars and hotels.</p>
  <p>The main highlights of the band are the performance on the  RTP-Madeira show "Noites da Madeira" on October 2010 and the subsequent participation at the international
      "IX Festival de Blues de Santa Maria" festival, on July 2012, opening for Carvin Jones.</p>

  <h1>1-Sheet</h1>
  <a class="one-sheet" href="img/1sheet_en.jpg"><img width="100" src="img/1sheet.jpg" class=""><br/>English</a>
  <a class="one-sheet" href="img/1sheet_pt.jpg"><img width="100" src="img/1sheet.jpg" class=""><br/>Português</a>
  <div class="clear"></div>
</div>
