<div class="content">
	<a href="#/" class="right closeFrame">&nbsp;</a>

	<h1>Contacts</h1>
	<p>For press inquiries, artist relations, contact <a href="mailto:info@blackdogbluesband.com">info@blackdogbluesband.com</a></p>
	<p>For booking of shows, contact <a href="mailto:shows@blackdogbluesband.com">shows@blackdogbluesband.com</a></p>

	<!-- <p>Want to drop us a note? Please use the contact form below.</p>

	<form id="contactForm" ng-submit="sendContact()">
		<span>Name (required)</span><br/>
		<input type="text" ng-model="contact.name" required><br/>

		<span>Email (required)</span><br/>
		<input type="email" ng-model="contact.email" required><br/>

		<span>Subject</span><br/>
		<input type="text" ng-model="contact.subject"><br/>

		<span>Your Message</span><br/>
		<textarea ng-model="contact.message" required></textarea><br/>

		<input class="dog_button" type="submit" value="Send" ng-hide="sending"/>
		<div id="cf_sending" ng-show="sending">SENDING...</div>
	</form> -->
</div>

