<div class="content">
	<a href="#/" class="right closeFrame">&nbsp;</a>

	<!-- PHOTOS -->
	<h1>Photos</h1>
  <span ng-show="!phLoaded"><b>LOADING...</b></span>
	<ul id="flickrGallery">
    <li ng-repeat="photo in photos">
      <a class="flickr-item" href="{{photo.link}}" target="_blank" title="{{photo.title}}">
        <img ng-src="{{photo.media.m}}" alt="{{photo.title}}"/>
      </a>
    </li>
  </ul>
	<div class="clear"></div>
	<a class="right dog_button" target="_blank"
    href="https://www.flickr.com/photos/84277882@N05/">More On <img src="img/social/flickr-dot.png"></a>
	<div class="clear"></div>

	<!-- VIDEOS -->
	<h1>Videos</h1>
	<iframe width="100%" height="350" frameborder="0" allowfullscreen
    src="https://www.youtube.com/embed/videoseries?list=PLllUBl2D4n6urUmnCCWAJYc-VXTmOUdYK"></iframe>
	<div class="clear"></div>
	<a class="right dog_button biggermargin" target="_blank"
    href="https://www.youtube.com/user/blackdogbluesband/">More On <img src="img/social/youtube-dot.png"></a>
	<div class="clear"></div>

	<!-- MUSIC -->
	<h1>Music</h1>
    <object height="200" width="100%">
        <param name="movie" value="https://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Fusers%2F21557879&amp;show_comments=true&amp;auto_play=false&amp;show_playcount=true&amp;show_artwork=true"></param>
        <param name="allowscriptaccess" value="always"></param>
        <embed allowscriptaccess="always" height="225" src="https://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Fusers%2F21557879&amp;show_comments=true&amp;auto_play=false&amp;show_playcount=true&amp;show_artwork=true" type="application/x-shockwave-flash" width="100%"></embed>
    </object>
    <div class="clear"></div>
	<a class="right dog_button biggermargin" target="_blank"
    href="https://www.soundcloud.com/blackdogbluesband">More On <img src="img/social/sound-dot.png"></a>
	<div class="clear"></div>
</div>
