
*, *:after, *:before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.left { float: left; }
.right { float: right; }
.clear { clear: both; }
.red {
  color: #FF0000;
}


a {
  text-decoration: underline;
  color: #ccc;
  &:hover {
    color: #aaa;
  }
}

img {
  max-width: 100%;
  border: 0;
}
