aside {
  position: relative;
  width: 100%;
  clear: both;
  &.hidden {
    display: none;
  }

  ul {
    display: block;
    padding: 0;
    li {
      list-style: none;
      a {
        display: block;
        margin: 0;
        padding: 12px 80px 12px 20px;
        border-top: 1px solid #aaa;

        color: #f0f0f0;
        background: #111;
        font-size: 19px;
        font-weight: 800;

        cursor: pointer;
        text-transform: uppercase;
        text-decoration: none;

        &:hover, &.active {
          color: #333;
          background: #f0f0f0;
        }
      }
    }
  }
}
@media (min-width: 481px) {
  aside {
    &.hidden {
      display: block;
    }
    ul {
      background: rgba(0,0,0,0.8);
      text-align: center;
      border-top: 1px solid #666;
      padding: 10px 0;
      li {
        display: inline-block;
        a {
          border-top: none;
          display: inline-block;
          padding: 4px 18px;
          background: none;
        }
      }
    }
  }
}
@media (min-width: 769px) and (max-width: 960px) {
  aside {
    position: absolute;
    top: 0;
    right: 0;
    clear: none;
    float: right;
    width: 55%;
    margin: 10px 0;
    ul {
      border: none;
    }
  }
}
@media (min-width: 961px) {
  aside {
    clear: both;
    float: left;
    width: 230px;
    margin: 200px 0 0 10px;
    ul {
      background: none;
      text-align: left;
      border: none;
      li {
        margin: 4px 0 0;
        a {
          background: rgba(0,0,0,0.9);
          padding: 12px 55px 10px 20px;
          font-size: 20px;
        }
      }
    }
  }
}
@media (min-width: 1041px) {
  aside {
    margin-top: 235px;
  }
}
@media (min-width: 1121px) {
  aside {
    margin-top: 270px;
  }
}
@media (min-width: 1201px) {
  aside {
    margin-top: 305px;
  }
}
@media (min-width: 1280px) {
  aside {
    margin-top: 340px;
  }
}
