
.btn-navbar {
  position: absolute;
  z-index: 100px;
  top: 14px;
  right: 15px;
  display: block;
  width: 40px;
  height: 40px;

  border-radius: 8px;
  cursor: pointer;
  background: rgb(14, 14, 14) linear-gradient(rgb(21, 21, 21),
    rgb(4, 4, 4)) repeat-x scroll 0% 0% / auto padding-box border-box;
  box-shadow: rgba(255, 255, 255, 0.0980392) 0px 1px 0px 0px inset,
    rgba(255, 255, 255, 0.0745098) 0px 1px 0px 0px;
  outline: rgb(255, 255, 255) none 0px;

  &:hover {
    background: #222;
  }
  span {
    display: block;
    margin: 7px 6px;
    height: 4px;
    background: #999;
    border-radius: 3px;
  }
}
@media (min-width: 481px) {
  .btn-navbar {
    display: none;
  }
}

.closeFrame {
  position: absolute;
  display: block;
  right: 15px;
  top: 15px;
  width: 19px;
  height: 19px;
  background: url('/img/close.png') 0 0px no-repeat;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    background: url('/img/close.png') 0 -19px no-repeat;
  }
  &:active {
    background: url('/img/close.png') 0 0px no-repeat;
  }
}

.dog_button {
  clear: both;
  display: block;
  margin: 10px 0 15px;
  padding: 5px 10px;
  background: #fff;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  img {
    margin-bottom: -3px;
  }
  &:hover {
    background: #000;
    color: #fff;
  }
  &:active {
    background: #fff;
    color: #000;
  }
  &.biggermargin {
    margin-top: 20px;
  }
}

.one-sheet {
  display: block;
  float: left;
  text-align: center;
  margin: 0 30px 0 0;
  font-size: 11px;
  text-decoration: none;
  img {
    margin-bottom: 5px;
  }
}

#flickrGallery {
  margin: 0;
  padding: 0;
  width: 100%;

  li {
    list-style: none;
    display: block;
    float: left;
    width: 33%;
    text-align: center;
    padding: 3px;
    a {
      display: block;
      padding: 5px;
      background: #f0f0f0;
      overflow: hidden;
      color: #666;
      text-decoration: none;
      text-align: center;
      font-size: 11px;
    }
    img {
      display: block;
      margin: 0 auto;
      height: 55px;
    }
  }
}

@media (min-width: 481px) {
  #flickrGallery {
    li {
      width: 25%;
      img {
        height: 70px;
      }
    }
  }
}
@media (min-width: 600px) {
  #flickrGallery {
    li {
      img {
        height: 60px;
      }
    }
  }
}
@media (min-width: 640px) {
  #flickrGallery {
    li {
      img {
        height: 70px;
      }
    }
  }
}
@media (min-width: 760px) {
  #flickrGallery {
    li {
      width: 20%;
      img {
        height: 80px;
      }
    }
  }
}

@media (max-width: 480px) {
  .addthis_toolbox {
    display: none;
  }
}
@media (min-width: 481px) and (max-width: 660px) {
  .addthis_toolbox {
    position: fixed;
    float: right;
    top: -10px;
    right: 0px;
    width: 40%;
  }
}
