body {
	margin: 30px 0 0 0;
	color: #fff;
	font: 13px normal Arial, Helvetica, sans-serif;
	background: url("back1.jpg") center top no-repeat #0d0d0d;
	background-size: 100%;

}
.left { float: left; }
.right { float: right; }
.clear { clear: both; }
.red {
	color: #FF0000;
}

a {
	text-decoration: underline;
	color: #ccc;
}
a:hover {
	color: #aaa;
}

img {
	border: 0;
}
.wrapper {
	width:  1000px;
	margin: 0 auto 0;
}

/************** TITLE **************/
#sidebar {
	position: relative;
	width: 270px;
}

#main-logo {
	position:absolute;
	z-index: 100;
	top: 45px;
	left: -160px;
	width: 156px;
	height: 156px;
}

#main-title {
	margin: 45px 0 210px;
	width: 173px;
	height: 156px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 48px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 40px;
}

/************** MENU **************/
#main-menu {
	margin: 0;
	padding: 0;
}
#main-menu li {
	float: left;
	list-style: none;
}
#main-menu li a {
	display: block;
	float: left;
	color: #f0f0f0;
	background: #000;
	padding: 12px 80px 12px 40px;
	font-size: 19px;
	font-weight: 800;
	margin: 5px 0 0;
	cursor: pointer;
	text-transform: uppercase;
	text-decoration: none;
}
#main-menu li a:hover, #main-menu li a.active {
	color: #333;
	background: #fff;
}

/************** CONTENT **************/
#main-content {
	width: 720px;
	background: url('shadow.png') 0 0 repeat;
	background: rgba(0,0,0,0.9);
	margin: 0 0 10px;
	/*display: none;*/
}

#main-content .content {
	padding: 30px;
}

#main-content .closeFrame {
	display: block;
	width: 19px;
	height: 19px;
	background: url('close.png') 0 0px no-repeat;
	cursor: pointer;
	text-decoration: none;
	margin: 0;
}
#main-content .closeFrame:hover {
	background: url('close.png') 0 -19px no-repeat;
}
#main-content .closeFrame:active {
	background: url('close.png') 0 0px no-repeat;
}

#main-content  h1 {
	font-size: 26px;
	font-weight: bold;
	margin: 0 0 10px;
}

#main-content img.framed {
	border: 6px solid #fff;
	margin: 0px 10px 10px;
}
#main-content img.framed.nomargin {
	margin: 0px 0px 10px;
}


a.dog_button {
	display: block;
	margin: 10px 0;
	padding: 5px 10px;
	background: #fff;
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;
	font-weight: bold;
	font-size: 14px;
}
a.dog_button:hover {
	background: #000;
	color: #fff;
}
a.dog_button:active {
	background: #fff;
	color: #000;
}

a.dog_button.biggermargin {
	margin-top: 20px;
}

a.dog_button img {
	margin-bottom: -3px;
}


a.one-sheet {
	display: block;
	float: left;
	text-align: center;
	margin: 0 30px 0 0;
	font-size: 11px;
	text-decoration: none;
}

a.one-sheet img {
	margin-bottom: 5px;
}


.event {
	margin: 10px 0 25px 0;
}
.event .date {
	float: left;
	width: 44px;
	padding: 0 20px 10px 0;
}
.event .date .day {
	font-size: 38px;
	font-weight: bold;
	text-align: center;
}
.event .date .month {
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	line-height: 14px;
}

h3, .event .title {
	font-size: 18px;
	font-weight: bold;
	margin: 5px 0 5px 0;
}

h3 {
	margin-bottom: 10px;
}

p, .event .text {
	color: #ccc;
	font-size: 14px;
	line-height: 18px;
}
p {
	margin-bottom: 10px;
}

#flickrGallery {
	margin: 0;
	padding: 0;
	width: 100%;
}
#flickrGallery li {
	list-style: none;
	display: block;
	float: left;
	margin: 0 6px 10px;
	background: #fff;
	padding: 5px;
	text-align: center;
}
#flickrGallery li a {
	display: block;
	position: relative;
	overflow: hidden;
	width: 110px;
	height: 75px;
	color: #666;
	text-decoration: none;
	font-size: 11px;
}
#flickrGallery li img {
	height: 75px;
}


/************** FOOTER **************/
#footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 0;
	margin: 0;
	color: #aaa;
	font-size: 11px;
	text-transform: uppercase;
	background: #0d0d0d;
}
#footer .social {
	width: 270px;
	padding: 6px 0 2px;
	text-align: left;
}
#footer .social img {
	margin: 0px 2px;
}
#footer .copy {
	width: 450px;
	padding: 12px 0 8px;
	text-align: right;
}
#footer a {
	color: #aaa;
	font-weight: bold;
	text-decoration: none;
}
#footer a:hover {
	color: #aaa;
	text-decoration: underline;
}


ul.backchoice {
	margin: 0 0 0 10px;
	padding: 6px 0 0;
	width: 200px;
	display: none;
}
ul.backchoice li {
	list-style: none;
	float: left;
	width: 20px;
	background: #ddd;
	color: #000;
	margin: 0 3px 0 0;
	padding: 4px 1px 3px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
}
ul.backchoice li.active, ul.backchoice li:hover {
	background: #000;
	color: #fff;
}

/************** contactForm **************/
#contactForm {
	font-size: 14px;
	color: #ccc;
}
#contactForm input[type="text"], #contactForm input[type="email"] {
	padding: 5px;
	margin: 5px 0 10px;
	width: 200px;
	font-size: 14px;
	border: 0;
	border-radius: 2px;
	background: #f0f0f0;
}
#contactForm textarea {
	padding: 5px;
	margin: 3px 0 10px;
	width: 350px;
	height: 90px;
	font-size: 14px;
	border: 0;
	border-radius: 2px;
	background: #f0f0f0;
}
#contactForm input[type="submit"] {
	margin: 10px 0 0;
	padding: 5px 10px;
	background: #fff;
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;
	font-weight: bold;
	font-size: 14px;
	border: 0;
}
#contactForm input[type="submit"]:hover {
	background: #000;
	color: #fff;
}
#cf_sending {
	display: none;
	font-weight: bold;
	margin: 10px 0 0;
}
